# DATABASE

DATABASE_URL="postgresql://usuario:senha@localhost:5432/fotoeduc"


# JWT

JWT_SECRET="fotoeduc_secret_key_2026"

JWT_EXPIRES="7d"


# STORAGE

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET=
AWS_REGION=


# EMAIL

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=


# PAGAMENTO

MERCADO_PAGO_KEY=
ASAAS_KEY=
STRIPE_SECRET=


# IA

AWS_REKOGNITION_KEY=
GOOGLE_VISION_KEY=


# APP

NEXT_PUBLIC_URL=http://localhost:3000
