# Backend env example
DATABASE_URL="postgresql://fotoeduc:fotoeducsenha@localhost:5432/fotoeduc"

JWT_SECRET=FOTOEDUC_SECRET_2026
JWT_EXPIRE=7d

REDIS_URL=redis://localhost:6379

STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS=fotoeduc
STORAGE_SECRET=fotoeducsenha
